body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fde0e0;
    background-color: #b90808;
    text-align: center;
}

p {
    font-size: 125%;
    line-height: 1.2;
}

li {
    list-style-type: none;
    line-height: 150%;
}

h1 {
    font-size: 250%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 200%;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #C6EC8C;
}

a:link {
    color: #e4c6c6;
    text-decoration: underline;
    font-weight: bold;
}

li a:link {
    color: #e4c6c6;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #e4c6c6;
    text-decoration: underline;
    font-weight: bold;
}

li a:visited {
    color: #e4c6c6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(109, 4, 4);
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

li a:hover {
    display: block;
    color: rgb(109, 4, 4);
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C6EC8C;
}

a:active {
    color: rgb(109, 4, 4);
    font-weight: bold;
}